<%= form_with(model: member, url: user_members_path) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :credential_a_guid, :class => "col-xs-2 control-label" %>
    <div class="col-xs-4">
        <%= form.text_field :credential_a_guid, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :credential_a_value, :class => "col-xs-2 control-label" %>
    <div class="col-xs-4">
        <%= form.text_field :credential_a_value, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :credential_b_guid, :class => "col-xs-2 control-label" %>
    <div class="col-xs-4">
        <%= form.text_field :credential_b_guid, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :credential_b_value, :class => "col-xs-2 control-label" %>
    <div class="col-xs-4">
        <%= form.text_field :credential_b_value, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :institution_code, :class => "col-xs-2 control-label" %>
    <div class="col-xs-4">
        <%= form.text_field :institution_code, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :mx_id, :class => "col-xs-2 control-label" %>
    <div class="col-xs-4">
        <%= form.text_field :mx_id, :class => "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
